.autocmplt-list {
  position: absolute;
  border: solid 1px #bbb;
  background: #fff;
}

.autocmplt-list-item {
  border-top: solid 1px #bbb;
}

.autocmplt-list-item:hover {
  background: #ccc;
  cursor: default;
}
