.autocmplt-wrapper {
  position: relative;
}

.autocmplt-list {
  position: absolute;
  top: 100%;
  left: 0;
  border: solid 1px #bbb;
  background: #fff;
  z-index: 999;
}

.autocmplt-list-item {
  border-top: solid 1px #bbb;
}

.autocmplt-list-item:hover {
  background: #ccc;
  cursor: default;
}

.autocmplt-list-item span {
  background: yellow;
}

.autocmplt-hidden {
  display: none !important;
}
