p {
  margin: 0;
  padding: 0;
}

input[type=text] {
  box-sizing: border-box;
  padding: 4px 6px;
  outline: none;
  border: solid 2px #aaa;
  border-radius: 5px;
  font: 14px Verdana, Arial, Helvetica, sans-serif;
}

input[type=text]:focus {
  border-color: #aae;
}

.autocmplt-list,
.autocmplt-list-item {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font: 14px Verdana, Arial, Helvetica, sans-serif;
}

.autocmplt-list {
  box-sizing: border-box;
  margin-top: -5px;
  padding-top: 3px;
  border-style: solid;
  border-color: #aae;
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 5px 5px;
  background: #fff;
}

.autocmplt-list-item {
  border-top: solid 1px #aae;
  border-radius: 0 0 5px 5px;
  padding: 2px 6px;
  background: #f5f5ff;
}

.autocmplt-list-item:hover {
  background: #ddf;
}
