.container .hidden {
  display: none !important;
}

.container table {
  border-collapse: collapse;
}

.container th,
.container td {
  border: solid 1px #666;
  padding: 7px;
  text-align: left;
  font-weight: normal;
}

.container th {
  text-transform: capitalize;
  background-color: #eee;
}

.container .cell,
.container .cell .input,
.container .output-json {
  font: 14px Arial;
}

.container .cell {
  position: relative;
}

.container .cell .input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: #ddf;
}

.container .cell .input,
.container .cell .input:focus {
  outline: solid 7px #ddf;
  outline-offset: 0;
}

.container .output-json {
  margin-top: 14px;
  box-sizing: border-box;
  width: 100%;
}
